# required
TOKEN=8888888888:AAAAAAAAAA-ZZZZZZZZZZZZZzzzzzzzzzzz # Bot token received from @BotFather on telegram
GROUP_ID=-1000000000000; # Group ID for creating response with an attachment containing the video

# optional
COOKIES_FILE= # name of file with cookies dump from yt-dlp (yt-dlp --cookies-from-browser --cookies cookies.txt)
RATE_LIMIT= # format: requests/period in ms. Type: Fixed window. Applies only to download requests
